a {
	text-decoration: none;
}

a:hover{
	background-color: lightgrey;
}

h1 {
	position: relative;
}

#container {
		position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
		display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left: -5px;
}

.pane1 {
		position: fixed;
		display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
		float: left;
    width: 50%;
		float: left;
    color: #5f5b60;
		text-align: center;
		font-family: "Brush Script MT", helvetica, arial, sans-serif;
		font-size: 36px;
}

.pane2 {
	  height: 1500px;
		display: inline-block;
		float: right;
    width: 50%;
		background: url(bg_images/image.jpg);
  	background-size: 100% 100%;
}

.pane2box{
    position: relative;
    height: 90%;
    width: 80%;
    left: 10%;
    text-align: center;
    background-color: white;
    border: black;
    border-style: solid;
    overflow: scroll;
    border-radius: 7px;
		border-color: #5f5b60;
}

.res_header_text {
		color: white;
		text-align: center;
		font-family: "Brush Script MT", helvetica, arial, sans-serif;
		font-size: 48px;
		text-shadow: 3px 3px black, 2px 2px black, 2px 0 black, 2px -1px black;
}
