html {
	height: 100%;
}

a {
	text-decoration: none;
}

.topNav a{
    display: block;
}

a:hover{
	background-color: lightgrey;
}

p {
    padding: none;
}

body{
	margin: 0px;
	height: 100%;
}

ul{
    list-style: none
}

li.a{
    height:100%;
}

#container {
    display: flex;
    flex-direction: row;
}

img{
    vertical-align: middle;
}

#map {
    display: inherit;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: solid;
    top: 0;
    bottom: 0;
    margin-left: 25%;
    text-align: initial;
    margin-top: 5%;
    width: 50%;
    height: 50%;
    text-shadow: none;
}

#footer{
    height: 5%;
    border: solid darkgrey;
}

.topNav a{
    color: white;
}

.topNav{
    margin-top: 0px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    position: fixed;
    justify-content: space-around;
    background-color: black;
    width: 100%;
    padding: .7%;
    font-size: 24px;
    opacity: 0;
    z-index: 2;
}

.logoBox {
    display: flex;
}

.pane1 {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 50%;
    /* full screen and row
    height: 100vh;
    position: initial;
    */
}

.pane1Content{
    color: #5f5b60;
    text-align: center;
    font-family: "Brush Script MT", helvetica, arial, sans-serif;
    font-size: 36px;
}

.pane2 {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    width:100%;
    background: url(bg_images/image.jpg);
    background-size: 100% 100%;
    margin-left: 50%;
    /* full screen and row
    margin-left: 0;
    */
}

.pane2box{
    height: initial;
    width: 80%;
    left: 10%;
    text-align: center;
    background-color: white;
    border-style: solid;
    border-radius: 7px;
    border-color: #5f5b60;
    margin-top: 3%;
    margin-bottom: 3%;
}

.level2{
    border-top: thick #fff;
	height: 100%;
	width: 100%;
	background-color: #eee;
}

.setext{
    padding-top: 5%;
    margin-top: 0;
    color: #0080C6;
    text-align: center;
    font-style: oblique;
    font-size: 48px;
    text-shadow: 3px 3px white, 2px 2px white, 2px 0 white, 2px -1px white;
    /* border: solid; */
}

@media screen and (max-width: 800px) {
  #container {
    flex-direction: column;
  }
  .pane2 {
    flex-direction: row;
    margin: 0;
    justify-content: center;
    width: inherit;
  }
  .pane1{
    position: initial;
    width: 100%;
    height: 100vh;
  }
  .setext{
    padding-top: 10%;
  }
}   

